name: Build Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-14  # 或者 macos-15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: |
          docker build -t nanobot:latest .

      - name: Push Docker Image
        run: |
          docker push nanobot:latest
